/* src/styles.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  background-color:#0B1428 ;
}
/* Hide scrollbar but allow scrolling */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

/* Smooth scrolling */
.no-scrollbar {
  scroll-behavior: smooth;
}
